{% extends "base.html" %}

{% block title %}King23 Welcome Page{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        <div class="ui huge message page grid center aligned">
            <h1 class="ui huge header">King23 Skeleton App</h1>

            <p>Welcome to King23, and enjoy your experience!</p>
        </div>
        <div class="ui segment"><img class="ui centered image" src="/images/king23.png"></div>
    </div>
</div>
<!--div class="ui hidden divider"></div>
<div class="two column row">
    <div class="column">
        <h2 class="ui medium header">Subheading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
    <div class="column">
        <h2 class="ui medium header">Subheading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
</div-->
{% endblock %}
